/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.container {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

body {
    font-family: Arial;
}

img {
    width: 100%;
}


/* ROW */
.row {
    width: 100%;
    margin-top: 20px;
}

/* SINGLE ITEM */
.item {
    width: 32%;
    display: inline-block;
    padding: 5px;
}

/* TOP IMAGE CONTAINER */
.top-image-container {
    position: relative;
}

.heart {
    position: absolute;
    top: 15px;
    right: 0;
    font-size: 25px;
    background-color: white;
    padding: 7px 15px;
}

.tags {
    position: absolute;
    left: 0;
    bottom: 20px;
}

.tag {
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 5px 7px;
}

.tag.sale {
    background-color: red;
}

.tag.type {
    background-color: #00875a;
}


/* HOVER */
.top-image-container .imgdefault {
    display: block;
}

.top-image-container .imghover {
    display: none;
}

.top-image-container:hover .imgdefault {
    display: none;
}

.top-image-container:hover .imghover {
    display: block;
}
/* END HOVER */

/* END TOP IMAGE CONTAINER */


/* BOTTOM TEXT CONTAINER */
.bottom-text-container {
    text-align: left;
    margin-top: 10px;
}

.bottom-text-container .brand {
    font-size: 12px;
}

.bottom-text-container .name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.bottom-text-container .price {
    font-size: 12px;
}

.bottom-text-container .price .new-price {
    font-weight: bold;
    color: red;
}

.bottom-text-container .price .old-price {
    text-decoration: line-through;
}
/* END BOTTOM TEXT CONTAINER */

/* END */