/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

body {
    font-family: Arial;
}

img {
    width: 100%;
}
/* END COMMON */


/* ROW */
.row {
    width: 100%;
    margin: 20px 0;
}

.item {
    width: 32%;
    display: inline-block;
}


/* TOP IMAGE CONTAINER */
.item-image-container {
    position: relative;
}

/* HOVER BEHAVIOR */
.imgdefault {
    display: block;
}

.imghover {
    display: none;
}

.item-image-container:hover .imgdefault {
    display: none;
}

.item-image-container:hover .imghover {
    display: block;
}
/* END HOVER BEHAVIOR */

.heart {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: white;
    padding: 4px 8px;
}

.window {
    position: absolute;
    bottom: 15px;
    font-size: 10px;
    color: white;
    padding: 4px 7px;
    font-weight: bold;
}

.window.sale {
    left: 0;
    background-color: red;
}

.window.sustainable {
    background-color: green;
    left: 40px;
}

.window.sustainable-latest {
    background-color: green;
    left: 0;
}
/* END TOP IMAGE CONTAINER */


/* BOTTOM TEXT CONTAINER */
.item-text-container {
    text-align: left;
    margin-top: 5px;
}

.item-text-container .item-brand {
    font-size: 10px;  
}

.item-text-container .item-name {
    font-size: 10px;
    font-weight: bold;
}

.item-text-container .item-price {
    font-size: 10px;
    color: red;
    font-weight: bold;
}

.item-text-container .item-price .item-old-price{
    text-decoration: line-through;
    color: black;
    font-weight: lighter;
}

/* END */


